<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>【JRS看球网】JRS直播|低调看直播|NBA直播|足球直播</title>
    <meta name="keywords"
        content="JRS看球,JRS直播,低调看直播,NBA直播,CBA直播,足球直播,英超直播,西甲直播,意甲直播,德甲直播,法甲直播,中超直播,欧冠直播,亚冠直播,世界杯直播,奥运会直播">
    <meta name="description" content="【JRS看球网】全程提供NBA直播,五大联赛直播等全球体育赛事免费高清视频直播信号，看比赛上JRS看球网！jrskq.com">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" type="text/css" href="/mobile/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/mobile/css/moment.css" />
    <script type="text/javascript" src="/mobile/js/jquery-1.7.1.min.js"></script>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
</head>

<body>
    <header id="header">
        <p> <a href="/"><img src="/mobile/picture/logo.png"></a> </p>
        <ul id="lll">
            <a href="/">
                <li k="index">
                    <p>直播</p>
                </li>
            </a>
            <!--
            <a href="/video/nba/">
                <li k="lx">
                    <p>录像</p>
                </li>
            </a>
            <a href="/zixun/">
                <li k="zx">
                    <p>资讯</p>
                </li>
            </a>
            -->
        </ul>
    </header>

    <div id="mengban"></div>
    <script>
        var st = 'index';
        var li = $("#lll li");
        li.each(function(i, v) {
            var c = $(this).attr('k');
            if (c == st) {
                $(this).children('p').addClass("active");
            }
        })

    </script>
    <script>
        function closed() {
            $('#toApp').hide()
            $('#mengban').hide()
        }

    </script>
    <link rel="stylesheet" type="text/css" href="/mobile/css/index.css" />
    <link rel="stylesheet" href="/mobile/css/swiper.min.css" />
    <div class="box">
        <div class="banner">
            <div class="swiper-container swiper-container-h">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"> <a href="http://jrskq.com/">
                            <img src="http://www.feisuzhiboba.com/d/file/p/2019/12-09/f1e00f0b3553e90cf889192505106cd5.jpg"
                                style="width: 100%;height: 100%;" />
                            <div class="tips"> </div>
                        </a> </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-h" style="left: 40%;color: #FFFFFF;"></div>
            </div>
        </div>

        <div class="tab">
            <ul>
                <li class="nowTab" key="qb" onclick="checked(this)">全部</li>
                <li key="rm" onclick="checked(this)">热门</li>
                <li key="zq" onclick="checked(this)">足球</li>
                <li key="lq" onclick="checked(this)">篮球</li>

            </ul>
        </div>
        <div class="catalog all" id="checked-qb" style="display: block;">
            <div class="match todayMatch">
                <p class="date today">{{data.todayTimes.month}}月{{data.todayTimes.day}}日<span>今天</span></p>
                <div class="noMatch" style=" display:none">
                    <p>当日暂无比赛</p>
                </div>
                @each(today in data.today)
                    @if(today.isStream)
                    <a s="{{today.attr.s}}" key="{{today.attr.key}}" k="{{today.attr.key}}" hot="{{today.attr.hot}}" status="{{today.attr.status}}" href="{{ route('live', { type: 'today', id: today.id }) }}">
                    @else
                    <a s="{{today.attr.s}}" key="{{today.attr.key}}" k="{{today.attr.key}}" hot="{{today.attr.hot}}" status="{{today.attr.status}}">
                    @endif
                    <div class="list">
                        <div class="timer">
                            <p>{{today.timer}}</p>
                        </div>
                        <div class="teamOne"> <img
                                src="{{today.teamOne.image}}" />
                            <p>{{today.teamOne.name}}</p>
                        </div>
                        <div class="score">
                            <p>{{today.matchType}}</p>
                            <p class="score_num"> - </p>
                            @if(today.isStream)
                               <p class="state">直播中</p>
                            @else
                            <p class="state">未开始</p>
                            @endif
                        </div>
                        <div class="teamTwo"> <img
                                src="{{today.teamTwo.image}}" />
                            <p>{{today.teamTwo.name}}</p>
                        </div>
                        @if(today.isStream)
                        <div class="imgzhibo"> <img src="/mobile/picture/video2.png" /> </div>
                        @else
                        <div class="imgzhibo"> <img src="/mobile/picture/video1.png" /> </div>
                        @endif
                       
                    </div>
                </a>
                @endeach  
            </div>



            <div class="match tomorrowMatch">
                <p class="date tomorrow">{{data.tomorrowTimes.month}}月{{data.tomorrowTimes.day}}日<span>明天</span></p>
                <div class="noMatch" style=" display:none">
                    <p>当日暂无比赛</p>
                </div>
                @each(tomorrow in data.tomorrow)
                @if(tomorrow.isStream)
                <a s="{{tomorrow.attr.s}}" key="{{tomorrow.attr.key}}" k="{{tomorrow.attr.key}}" hot="{{tomorrow.attr.hot}}" status="{{tomorrow.attr.status}}" href="{{ route('live', { type: 'tomorrow', id: tomorrow.id }) }}">
                @else
                <a s="{{tomorrow.attr.s}}" key="{{tomorrow.attr.key}}" k="{{tomorrow.attr.key}}" hot="{{tomorrow.attr.hot}}" status="{{tomorrow.attr.status}}">
                @endif
                <div class="list">
                    <div class="timer">
                        <p>{{tomorrow.timer}}</p>
                    </div>
                    <div class="teamOne"> <img
                            src="{{tomorrow.teamOne.image}}" />
                        <p>{{tomorrow.teamOne.name}}</p>
                    </div>
                    <div class="score">
                        <p>{{tomorrow.matchType}}</p>
                        <p class="score_num"> - </p>
                        @if(tomorrow.isStream)
                           <p class="state">直播中</p>
                        @else
                        <p class="state">未开始</p>
                        @endif
                    </div>
                    <div class="teamTwo"> <img
                            src="{{tomorrow.teamTwo.image}}" />
                        <p>{{tomorrow.teamTwo.name}}</p>
                    </div>
                    @if(tomorrow.isStream)
                    <div class="imgzhibo"> <img src="/mobile/picture/video2.png" /> </div>
                    @else
                    <div class="imgzhibo"> <img src="/mobile/picture/video1.png" /> </div>
                    @endif
                   
                </div>
            </a>
            @endeach  
            </div>



            <div class="match afterTomorrowMatch">
                <p class="date afterTomorrow">{{data.afterTomorrowTimes.month}}月{{data.afterTomorrowTimes.day}}日<span>后天</span></p>
                <div class="noMatch" style=" display:none">
                    <p>当日暂无比赛</p>
                </div>
                @each(afterTomorrow in data.afterTomorrow)
                    @if(afterTomorrow.isStream)
                    <a s="{{afterTomorrow.attr.s}}" key="{{afterTomorrow.attr.key}}" k="{{afterTomorrow.attr.key}}" hot="{{afterTomorrow.attr.hot}}" status="{{afterTomorrow.attr.status}}" href="{{ route('live', { type: 'afterTomorrow', id: afterTomorrow.id }) }}">
                    @else
                    <a s="{{afterTomorrow.attr.s}}" key="{{afterTomorrow.attr.key}}" k="{{afterTomorrow.attr.key}}" hot="{{afterTomorrow.attr.hot}}" status="{{afterTomorrow.attr.status}}">
                    @endif
                    <div class="list">
                        <div class="timer">
                            <p>{{afterTomorrow.timer}}</p>
                        </div>
                        <div class="teamOne"> <img
                                src="{{afterTomorrow.teamOne.image}}" />
                            <p>{{afterTomorrow.teamOne.name}}</p>
                        </div>
                        <div class="score">
                            <p>{{afterTomorrow.matchType}}</p>
                            <p class="score_num"> - </p>
                            @if(afterTomorrow.isStream)
                               <p class="state">直播中</p>
                            @else
                            <p class="state">未开始</p>
                            @endif
                        </div>
                        <div class="teamTwo"> <img
                                src="{{afterTomorrow.teamTwo.image}}" />
                            <p>{{afterTomorrow.teamTwo.name}}</p>
                        </div>
                        @if(afterTomorrow.isStream)
                        <div class="imgzhibo"> <img src="/mobile/picture/video2.png" /> </div>
                        @else
                        <div class="imgzhibo"> <img src="/mobile/picture/video1.png" /> </div>
                        @endif
                       
                    </div>
                </a>
                @endeach  
            </div>
        </div>
        <div id="toToday"> <a href="#header">
                <button>回到今天</button>
            </a> </div>
        <div id="tabHeader">
            <p class="date"> <span> </span></p>
        </div>
        <div class="footer">
            <div class="company">
                <p>Copyright © JRS看球网</p>
                <p>免责声明：本站所有直播和视频链接均由网友提供，如有疑问联系我们。广告合作QQ：2468888877</p>
                <p>关注微信公众号：JRS看球，安心看球防和谐！</p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/mobile/js/jquery-1.7.1.min.js"></script>
    <script>
        function closed() {
            $('.app').hide()
            $('.company').css('margin-bottom', '0')
        }

    </script>
    <script type="text/javascript" src="/mobile/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/mobile/js/index.js"></script>
    <script type="text/javascript" src="/mobile/js/anchor.js"></script>
    <script type="text/javascript" src="/mobile/js/swiper.min.js"></script>
    <script type="text/javascript" src="/mobile/js/banner.js"></script>
    <script>
        // 切换状态
        function checked(check) {
            var $this = $(check);
            $(".tab ul li").removeClass("nowTab");
            $this.addClass("nowTab");
            $("#checked-" + $this.attr("key")).show().siblings(".catalog").hide();
            show($this.attr('key'))
        }


        function show(k) {
            if (k != 'zb') {
                $('#checked-qb').show();
                $('#checked-zb').hide();
                var data = $('.match').children('a');
                if (k == 'rm') {
                    data.each(function(i, v) {
                        var hot = $(this).attr('hot');
                        if (hot == 1) {
                            $(this).show();
                            $(this).attr('see', 'block')
                        } else {
                            $(this).hide();
                            $(this).attr('see', 'none')
                        }
                    })
                }
                if (k == 'zq') {
                    data.each(function() {
                        var type = $(this).attr('k')
                        if (type == 2) {
                            $(this).show();
                            $(this).attr('see', 'block')
                        } else {
                            $(this).hide();
                            $(this).attr('see', 'none')
                        }
                    })
                }
                if (k == 'lq') {
                    data.each(function() {
                        var type = $(this).attr('k')
                        if (type == 1) {
                            $(this).show();
                            $(this).attr('see', 'block')
                        } else {
                            $(this).hide();
                            $(this).attr('see', 'none')
                        }
                    })
                }
                if (k == 'qb') {
                    data.each(function() {
                        $(this).show();
                        $(this).attr('see', 'block')
                    })
                }
                var match = $('.match');
                match.each(function() {
                    var a_num = $(this).children("a[see='block']").length;
                    if (a_num == 0) {
                        $(this).children('div.noMatch').show()
                    } else {
                        $(this).children('div.noMatch').hide()
                    }
                })
            }
        }


        // 滚动事件
        window.onscroll = function() {
            // 按钮'今天'显示隐藏
            var scrollTop = $(document).scrollTop()
            if (scrollTop > 800) {
                $('#toToday').css('display', 'block')
            } else {
                $('#toToday').css('display', 'none')
            }

            // tabHeader随页面滚动显示隐藏
            var catalog = $('.catalog');
            var anchors = $('.anchor')
            catalog.each(function() {
                if ($(this).css('display') == 'block') {
                    if ($(this).children().attr('class') == 'bigBox') {
                        $('#toToday').css('display', 'none')
                    } else {
                        todayHeight = $(this).children('.todayMatch').height() + 355 - 25
                        tomorrowHeight = $(this).children('.tomorrowMatch').height() + todayHeight
                        if (scrollTop > 355) {
                            var today = $('.today').text()
                            $('#tabHeader').css({
                                'display': 'block',
                                'background': '#369CFE'
                            })
                            var dateMonth = $('.today').text().slice(0, 6)
                            var dateDay = $('.today').text().slice(6)
                            $('#tabHeader').html(dateMonth + '<span>' + dateDay + '</span>')
                        } else {
                            $('#tabHeader').css('display', 'none')
                        }
                        if (scrollTop > todayHeight) {
                            $('#tabHeader').css({
                                'background': '#A9A9A9'
                            })
                            var dateMonth = $('.tomorrow').text().slice(0, 6)
                            var dateDay = $('.tomorrow').text().slice(6)
                            $('#tabHeader').html(dateMonth + '<span>' + dateDay + '</span>')
                        }
                        if (scrollTop > tomorrowHeight) {
                            $('#tabHeader').css({
                                'background': '#A9A9A9'
                            })
                            var dateMonth = $('.afterTomorrow').text().slice(0, 6)
                            var dateDay = $('.afterTomorrow').text().slice(6)
                            $('#tabHeader').html(dateMonth + '<span>' + dateDay + '</span>')
                        }
                    }

                }
            })
        }

        $('.match a').each(function() {
            if ($(this).attr('hot') == '1') {
                $(this).children('.list').css('font-weight', 'bold')
            }
        })

    </script>
    <script>
        function AutoScroll(obj) {
            $(obj).find("ul:first").animate({
                marginTop: "-30px"
            }, 500, function() {
                $(this).css({
                    marginTop: "0px"
                }).find("li:first").appendTo(this);
            });
        }
        $(document).ready(function() {
            setInterval('AutoScroll("#handle")', 3000);
        });

    </script>
    <!-- Initialize Swiper -->
    <script>
        var swiperH = new Swiper('.swiper-container-h', {
            pagination: '.swiper-pagination-h',
            paginationClickable: true,
            spaceBetween: 50,

            centeredSlides: true,
            autoplay: 3000,
            autoplayDisableOnInteraction: false,
            loop: true
        });

    </script>
</body>

</html>
