<html><head><script async="" src="https://h5.leqiuba.cc/app/getScore.php?callback=jQuery17104683936508192059_1611155316621&amp;_=1611155336654"></script><script async="" src="https://h5.leqiuba.cc/app/getScore.php?callback=jQuery17104683936508192059_1611155316620&amp;_=1611155326646"></script><script async="" src="https://h5.leqiuba.cc/app/getScore.php?callback=jQuery17104683936508192059_1611155316619&amp;_=1611155316855"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>【JRS看球网】体育节目直播|精彩赛事回顾VS24小时轮播视频直播</title>
    <meta name="keywords" content="精彩赛事回顾VS24小时轮播直播地址,精彩赛事回顾VS24小时轮播视频直播">
    <meta name="description" content="【JRS看球网】免费提供2021年01月20日体育节目精彩赛事回顾VS24小时轮播高清视频直播信号视频直播地址，观看更多体育节目精彩赛事直播，上【JRS看球网】">
    
    <link rel="stylesheet" type="text/css" href="/mobile/css/header.css">
    <link rel="stylesheet" type="text/css" href="/mobile/css/moment.css">
    <link rel="stylesheet" type="text/css" href="/mobile/css/livedetails.css">
    <link rel="stylesheet" type="text/css" href="/mobile/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/mobile/css/record.css">
    <link rel="stylesheet" type="text/css" href="/mobile/css/realtimematch.css">
    <link rel="stylesheet" type="text/css" href="/mobile/css/playertext.css">
    </head>
    
    <body>
    <script type="text/javascript" src="/mobile/js/jquery-1.7.1.min.js"></script>
    <header id="header">
      <p> <a href="/"><img src="/mobile/picture/logo.png"></a> </p>
      <ul id="lll">
        <a href="/">
        <li k="index">
          <p>直播</p>
        </li>
        </a>  
         <!--
          <a href="/video/nba/">
              <li k="lx">
                  <p>录像</p>
              </li>
          </a>
          <a href="/zixun/">
              <li k="zx">
                  <p>资讯</p>
              </li>
          </a>
          -->
      </ul>
    </header>
    
    <div id="mengban"></div>
    <script>
            var st = '';
            var li = $("#lll li");
            li.each(function (i, v) {
                var c = $(this).attr('k');
                if (c == st) {
                    $(this).children('p').addClass("active");
                }
            })
          
          function closed() {
                $('#toApp').hide()
                $('#mengban').hide()
            }
    
            function userTo() {
            
            }
        </script> 
    <div><script src="http://www.qiuquzhibo.com/d/js/bobos/show11.js"></script></div>
    <div class="box">
      <div class="dataMsg" style="background: url(/mobile/images/lanqiu.png); ">
        <div class="returnTitle">直播详情<!--<p>--> 
    
        </div>
        <div class="list" status="2" match="1" score_id="393383">
          <div class="teamOne"> <img src="{{data.teamOne.image}}">
            <p>{{data.teamOne.name}}</p>
          </div>
          <div class="score">
            <p class="matchTimer">{{data.videoDetails.details.time}}</p>
            <p class="_t" style="display: none;">{{data.videoDetails.details.times}}</p>
            <p class="score_id"> - </p>
            <p class="matchTimer"> {{data.matchType}} </p>
          </div>
          <div class="teamTwo"> <img src="{{data.teamTwo.image}}">
            <p>{{data.teamTwo.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div data-v-3073f131="" class="liveCotainer">
      <iframe data-v-3073f131="" id="pp" src="{{data.videoDetails.video.src}}" width="100%" height="250px" frameborder="0" allowfullscreen="allowfullscreen" scrolling="no"></iframe>
    </div>
    <div class="info2">
      <div class="liveshow">
          <a data-url="{{data.videoDetails.video.src}}" class="toLive nl picked">直播信号</a>
         </div>
    </div>
    <a href="{{liveDetails.bottomPromoteSrc}}" target="_parent"><img src="{{liveDetails.bottomPromoteSrc}}" border="0" width="100%" height="auto" style="margin-top: 10px;"></a></div><a href="https://leyu2.app/?i_code=4336448" target="_parent">
    <input type="hidden" value="14445" id="room_id">
    <script type="text/javascript" src="/mobile/js/swiper.min.js"></script> 
    <script type="text/javascript" src="/mobile/js/livedetails.js"></script> 
    <script type="text/javascript" src="/mobile/js/wrapper.js"></script> 
    <script type="text/javascript" src="/mobile/js/chat.js"></script> 
    <script type="text/javascript" src="/mobile/js/chatsocket.js"></script> 
    <script>
    
    $(".nl").click(function(){
    $("#pp").attr("src",$(this).attr("data-url"));
    $(".nl.picked").removeClass("picked");
    $(this).addClass("picked");
    })
    </script>
    <script>
            // 自适应
            function setIframeHeight(iframe) {
                if (iframe) {
                    var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                    if (iframeWin.document.body) {
                        iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                    }
                }
            };
    
            window.onload = function () {
                setIframeHeight(document.getElementById('external-frame'));
            };
    
            //切换iframe的高度
            function iframeHight() {
                setTimeout(function () {
                    $('.info').each(function (i, n) {
                        if ($(this).css("display") == 'block') {
                            //							$(this).css('padding', '3% 0')
    
                            var test = $(this).children('iframe').contents().find(".box2")
                            if (test.text() == '暂无数据') {
                                $(this).children('iframe').css('height', '300px')
                            }
                        }
                    })
                }, 100)
            }
    
            //判断tab的长度 显示个数 
            var swiperSlide = $('.swiper-container-b .swiper-slide').length
            if (swiperSlide <= 4) {
                swiperSlide = $('.swiper-container-b .swiper-slide').length
            } else {
                swiperSlide = 4
            }
            var swiper = new Swiper('.swiper-container-b', {
                slidesPerView: swiperSlide,
                spaceBetween: 0,
                pagination: {
                    el: '.swiper-pagination-a',
                    clickable: true,
                },
            });
    
            // 切换
            function checked(check) {
                var $this = $(check);
                $(".swiper-container-b .swiper-slide").removeClass("navNow");
                $this.addClass("navNow");
                $("#checked-" + $this.attr("key")).show().siblings(".info").hide();
    
                iframeHight()
            }
    
            // 遮罩层的显示与隐藏
            function openMark() {
                if ($('.state').text() == '视频直播') {
                    $('#mask').show()
                    if ($('#mask ul a').length > 8) {
                        $('#choice').css('margin-top', '25%')
                    }
                }
            }
    
            function closeMark() {
                $('#mask').hide()
            }
    
            function go() {
                window.history.go(-1);
            }
        </script> 
    
    </a>
    <div id="lbdictex_find_popup" class="lbexpopup hidden" style="position: absolute; top: 0px; left: 0px;">
        <div class="lbexpopup_top"><h2 class="fl popup_title">&nbsp;</h2>
            <ul><li><a class="close_main popup_close" href="#">&nbsp;</a></li></ul>
            <div class="clr"></div></div><div class="popup_details"></div><div class="popup_powered">abc</div></div><div id="lbdictex_ask_mark" class="hidden" style="position: absolute; top: 0px; left: 0px;"><a class="lbdictex_ask_select" href="#">&nbsp;</a></div></body></html>