.box2 {
    width: 100%;
    margin: 0 auto;
}

.box3 {
    width: 100%;
    margin: 0 auto;
}

.history {
    width: 700px;
    height: auto;
    margin: 0 auto;
}

.history>p {
    font-size: 16px;
}

.box3 table {
    width: 700px;
    margin-top: 10px;
    text-align: center;
}

.box3 table tr {
    height: 40px;
    line-height: 40px;
    background: #F5F5F5;
    border: 1px solid #BCBCBC;
}

.trTitle {
    height: 30px !important;
    line-height: 30px !important;
}

.box3 table tr:nth-of-type(2n) {
    background: #FFFFFF;
}

.record {
    width: 700px;
    height: auto;
    margin: 20px auto 0 auto;
}

.record img {
    width: 30px;
    height: 30px;
    margin-right: 4px;
    vertical-align: middle;
}

.record>p {
    font-size: 16px;
}

.homeTeam {
    margin-top: 10px;
}

.visitingTeam {
    margin-top: 20px;
}

.teamNameOne span,
.teamNameTwo span {
    font-size: 16px;
    font-weight: bold;
}

.visitingTeamTable {
    margin-bottom: 25px;
}