.dataMsg {
    width: 100%;
    height: 130px;
    position: relative;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.returnTitle {
    width: 100%;
    height: 35px;
    color: #FFFFFF;
    line-height: 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

/*.returnTitle a {*/

/*color: #FFFFFF;*/

/*}*/

/*.returnTitle img{*/

/*width: 10px;*/

/*height: auto;*/

/*margin-top: 8px;*/

/*}*/

/*.returnTitle p {*/

/*position: absolute;*/

/*top: 0;*/

/*left: 42%;*/

/*display: inline-block;*/

/*}*/

/*.returnTitle p:first-of-type {*/

/*font-size: 20px;*/

/*left: 2%;*/

/*}*/

.list {
    color: #FFFFFF;
    overflow: hidden;
}

.list>div {
    width: 33%;
    height: 95px;
    float: left;
    text-align: center;
}

.list>div img {
    width: 25px;
    height: 25px;
}

.score {
    line-height: 22px;
}

.score p:first-of-type {
    font-size: 12px;
    margin-top: 8px;
}

.score p:last-of-type {
    font-size: 12px;
}

.score p:nth-of-type(2) {
    font-size: 13px;
    font-weight: bold;
}

.teamOne p,
.teamTwo p {
    width: 100%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.teamOne img,
.teamTwo img {
    margin-top: 16px;
}

.videotape {
    width: 100%;
    height: 200px;
}

.state {
    width: 68%;
    height: 25px;
    color: #FFFFFF;
    font-size: 16px !important;
    line-height: 25px;
    margin: 0 auto;
    border-radius: 20px;
    background: rgb(189, 189, 189);
}

.swiper-container-b {
    width: 100%;
    height: 35px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 0px #f4f4f4;
}

.swiper-container-b .swiper-slide {
    height: auto;
    line-height: 35px;
    text-align: center;
    background: #FFFFFF;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container-b .navNow {
    color: #276BFF;
    border-bottom: 1px solid #276BFF;
}

/*.info{
	padding: 3% 0;
}*/

.tapeList {
    padding: 3% 2%;
    overflow: hidden;
    border-bottom: 1px solid #F2F2F2;
}

.tapeList img {
    width: 15px;
    height: auto;
    margin-top: 1%;
}

.mySpan {
    color: #979797;
    float: right !important;
}

.listMsg {
    float: left !important;
    color: #383838 !important;
    width: 88% !important;
    text-align: left !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tapeList p,
.tapeList img {
    float: left;
}

#mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 9999;
    text-align: center;
    display: none;
}

#choice {
    width: 50%;
    height: auto;
    color: #828282;
    background: #FFFFFF;
    margin-left: 25%;
    margin-top: 50%;
    border-radius: 5px;
}

#choice p {
    padding: 5% 0;
    border-bottom: 1px solid #F2F2F2;
}

#choice ul li {
    padding: 6% 0;
    border-bottom: 1px solid #F2F2F2;
    font-weight: bold;
    font-size: 16px;
    color: #383838;
}

/*暂无比赛*/

.noMatch {
    width: 100%;
    height: auto;
    padding: 4% 0;
    text-align: center;
}

.noMatch img {
    width: 130px;
    height: auto;
}

.noMatch p {
    color: #6FD1FF;
}

#choice ul li:last-of-type {
    border-radius: 5px;
}

/* 聊天室 */

#chat {
    background: #f5f5f5;
}

.contentList {
    overflow-x: hidden;
    overflow-y: auto;
}

.Notice {
    color: #FF3434;
    font-size: 14px;
}

#userLt {
    height: 50px;
    padding: 0 15px;
    background: #FFFFFF;
}

#text {
    width: 75% !important;
    height: 32px !important;
    outline: none;
    padding: 0 15px;
    margin-top: 9px !important;
    background: #F2F2F2 !important;
    border-radius: 20px;
    float: left;
    position: relative;
}

#userLt span {
    position: absolute;
    left: 8%;
    bottom: 2.5%;
    color: #828282;
}

#userLt div {
    width: 14%;
    float: left;
    font-size: 16px;
    color: #0051B9;
    margin-top: 14px;
    text-align: right;
}

.contentList>p {
    padding: 3% 3% 0 3%;
}

@media only screen and (min-width: 300px) and (max-width: 320px) {
    #userLt span {
        bottom: 3.4%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
    #userLt span {
        bottom: 2.2%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 768px) {
    .tapeList img {
        margin-top: 0.5%;
    }
    #userLt span {
        left: 5%;
        bottom: 1.5%;
    }
    .dataMsg {
        height: 190px;
    }
    .list {
        margin-top: 32px;
    }
}

@media only screen and (min-width:1000px) and (max-width: 1024px) {
    .tapeList img {
        margin-top: 0.5%;
    }
    #userLt span {
        left: 4%;
        bottom: 1.2%;
    }
    .dataMsg {
        height: 190px;
    }
    .list {
        margin-top: 32px;
    }
}