* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: "微软雅黑";
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

input[type="button"] {
    -webkit-appearance: none !important;
}

table {
    border-collapse: collapse;
}

/*swiper*/

#nav {
    width: 100%;
    height: auto;
}

.swiper-container-a {
    width: 100%;
    height: 35px;
    background: #F2F2F2;
}

.swiper-container-a .swiper-slide {
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #F2F2F2;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container-a a {
    color: #383838;
}

.swiper-container-a .navNow a {
    color: #FFFFFF;
}

.swiper-container-a .navNow {
    color: #FFFFFF;
    background: #276BFF;
}