#history {
    padding: 3% 0 0 0;
}

.record {
    margin-top: 3%;
}

.history,
.record {
    width: 100%;
    height: auto;
}

.history>p,
.record>p {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.historyTable,
.homeTeam,
.visitingTeam {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

table {
    font-size: 12px;
    border: 1px solid #CCCCCC;
}

table tr {
    height: 40px;
    border-bottom: 1px solid #CCCCCC;
}

table tr:nth-of-type(2n-1) {
    background: #F2F2F2;
}

.homeTeamTable,
.visitingTeamTable {
    width: 100%;
}

.team1,
.team2 {
    text-align: left;
    margin-top: 3% !important;
    width: 100%;
    padding: 0 !important;
}

.team1 img,
.team2 img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

/*暂无比赛*/

.noData {
    width: 130px;
    height: auto;
}