<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>【JRS看球网】JRS直播|低调看直播|NBA直播|足球直播</title>
    <meta name="keywords" content="JRS看球,JRS直播,低调看直播,NBA直播,CBA直播,足球直播,英超直播,西甲直播,意甲直播,德甲直播,法甲直播,中超直播,欧冠直播,亚冠直播,世界杯直播,奥运会直播">
    <meta name="description" content="【JRS看球网】全程提供NBA直播,五大联赛直播等全球体育赛事免费高清视频直播信号，看比赛上JRS看球网！jrskq.com">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="baidu-site-verification" content="d6MzB9rSlu" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">

    <link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/brands.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/solid.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
<div class="shadow px-0 bg-white">
    <header class="d-flex align-items-center justify-content-between mx-auto py-3">
        <a href="/"><img src="{{homeDetails.logoSrc}}"></a>
        <ul class="nav" >
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/"><button type="button" class="btn btn-outline-primary">直播</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><button type="button" class="btn btn-outline-primary">下载APP <i class="fas fa-download fa-lg"></i></button></a>
            </li>
            </ul>
    </header>
</div>

